/* RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   background-image: url(/bg2.jpg);
   background-position: center;
   background-repeat: repeat;
   background-size: cover;
   width: 100vh;
}

/* ELEMENTS */
.container {
   border: 4.5px solid rgb(255, 255, 255);
   height: 60rem;
   width: 35rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 2rem;
   box-shadow: 8px 8px 10px 5px rgba(47, 47, 48, 0.5);
   background-color: rgb(39 61 83);
   /* background-color: rgb(41, 71, 77); */
   /* background-image: linear-gradient(81deg, #955c97, transparent); */
}

.heading {
   font-family: inherit;
   font-weight: 700;
   color: rgb(13, 213, 240);
   /* color: rgb(223, 187, 19); */
   font-size: 3.5rem;
   margin-top: 2rem;
   margin-bottom: 1.5rem;
}

.input {
   font-family: inherit;
   font-weight: 400;
   font-size: 1.7rem;
   text-align: center;
   width: 29rem;
   height: 5rem;
   border: 1px solid rgb(13, 213, 240);
   margin-bottom: 1.6rem;
   border-radius: 1rem;
   outline: none;
}

.btn {
   font-family: inherit;
   font-weight: 400;
   padding: 1rem 2.5rem;
   border: 1px solid rgb(13, 213, 240);
   font-size: 1.3rem;
   border-radius: 1rem;
   cursor: pointer;
   /* margin-bottom: 2rem; */
}

.btn:hover {
   background-color: rgb(203, 206, 207);
   transition: 0.5s;
}

.refresh-icon {
   width: 2.5rem;
   filter: invert();
   cursor: pointer;
   position: relative;
   bottom: 3.3rem;
   left: 9rem;
}

.date {
   font-family: inherit;
   font-size: 1.8rem;
   color: white;
   margin-bottom: 0.5rem;
   /* margin-right: 13.2rem; */
}

hr {
   width: 28rem;
   /* margin-top: 0.7rem; */
   background-color: rgb(228, 214, 214);
}

.list-container {
   margin-top: 2rem;
   margin-left: 1rem;
   /* border: 1px solid black; */
   width: 29rem;
   height: 30rem;
   list-style: none;
   overflow-y: scroll;
}

.list-container::-webkit-scrollbar {
   border-radius: 1rem;
   width: 1rem;
   background-color: #eee;
}

.list-container::-webkit-scrollbar-thumb {
   border-radius: 1rem;
   /* background-color: rgb(29, 184, 176); */
   background-color: rgb(57, 207, 200);
}

.list-item {
   font-family: inherit;
   font-weight: 400;
   font-size: 2rem;
   text-decoration: none;
   margin-bottom: 1rem;
   color: white;
}

.create {
   color: rgb(57, 207, 200);
   position: absolute;
   bottom: 4rem;
   left: 3rem;
   font-size: 1.3rem;
}

.name {
   text-decoration: underline;
}
